@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --bg-primary: #be616a;
  --bg-secondary: #07192f;
  --bg-Third: #e5e5e5;
  --nav-color: #071629;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--bg-secondary) * 2;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 60px var(--bg-secondary);
}
* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.bg-theme {
  background-color: var(--nav-color);
  position: relative;
  margin: 0;
  padding: 0;
}
#unOrderList {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-variant-caps: petite-caps;
  transition: background-position 275ms ease;
}

#name {
  font-family: "Pacifico", cursive;
  color: var(--bg-primary);
  padding-left: 4vh;
}
#unOrderList > li:hover {
  background-color: var(--bg-primary);
  background-position: 0 100%;
  text-underline-position: auto;
  font-weight: auto;
}
@media (max-width: 768px) {
  #unOrderList > li {
    display: block;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-variant-caps: petite-caps;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: sticky;
  }
  #unOrderList > li:hover {
    background-color: var(--bg-primary);
  }
}
/* Vanata js */
body {
  padding-top: 0;
  margin: 0;
  height: auto;
  width: auto;
}
/* Vanata js theme */
.vanta {
  min-height: 300px;
  color: white;
  padding: 20px;
  font-size: 24px;
}

/* MAIN PAGE */
#Main {
  display: flex;
  padding: 150vh;
  height: 100vh;
  padding: 2vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#About-bg,
#Intrests-bg {
  background-color: var(--bg-Third);
}
#About-title,
#work-title,
#Intrests-title,
#Skills-title,
#title-contact {
  font-family: "Rubik", sans-serif;
  text-decoration: underline var(--bg-primary);
  font-weight: 900vh;
  font-size: 60px;
  text-align: center;
}
#main-skills {
  background-color: var(--nav-color);
}
#MY-Tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#MY-Tools > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#images {
  display: grid;
  gap: 12vh;
  grid-template-columns: repeat(3, 1fr);
}
.Intrests {
  background-color: var(--bg-Third);
}
::selection {
  color: var(--bg-Third);
  background-color: var(--bg-primary);
}
.Footer {
  background-color: var(--bg-secondary);
}
.Contact {
  display: flex;
  justify-content: space-around;
}
#About-image {
  transform: scaleY(0);
  transform-origin: bottom;
  opacity: 0;
}
#Main-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}

#main01 {
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
}
#down-arrow {
  padding: 2px;
  color: var(--bg-primary);
  height: auto;
  width: auto;
}
#main-button {
  background-color: var(--bg-secondary);
  padding: 1vh 5vw 1vh 5vw;
  border-radius: 1vmin;
  text-align: center;
  display: inline;
  text-decoration: none;
  border: 3px solid var(--bg-primary);
}
#main-button:hover {
  background-color: var(--bg-primary);
}
#myrecentwork {
  background-color: #ffffff;
}
#card-background {
  text-decoration: none;
  color: var(--bg-primary);
}
#text-more {
  color: var(--bg-primary);

  text-decoration: none;
}
